<%= form_with model: @article, local: true do |form| %>
	
	<%-#check valid length of title %>
	<% if @article.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%-#pluralize is a rails helper that takes a number and a string as its arguments. If the number is greater than one, the string will be automatically pluralized %>
				<%= pluralize(@article.errors.count, "errors") %> prohibited this article from being saved:
			</h2>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= form.label :title %><br>
		<%= form.text_field :title, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= form.label :text%><br>
		<%= form.text_area :text, :class => "form-control" %>
	</div>

	<%= form.submit :class => 'btn btn-primary' %>
<% end %>

