<!DOCTYPE html>
<html>
	<head>
		<title>Dota 2 Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <head>
  	<link rel="shortcut icon" href="/favicon.ico">
    <title>Lab1 1412073-1412067</title>
    <%= csrf_meta_tags %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">
				<img src="/logo.jpg" width="30" height="30" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#side-menu-mobile" aria-controls="side-menu-mobile" aria-expanded="false" aria-label="Toggle navigation" id="sidemenu-button">
				Sidebar
				<!-- <span class="navbar-toggler-icon"></span> -->
			</button>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation" >
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarMobile">
				<ul class="navbar-nav mr-auto text-center">
					<li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only"></span></a></li>
					<li class="nav-item"><a class="nav-link" href="/albums">Album</a></li>
					<li class="nav-item"><a class="nav-link" href="/articles">Blog</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>

					<% if session[:current_user] %>
					<li class="nav-item">
						<a class="nav-link">
							<%= session[:current_user]["name"] %>
						</a>
					</li>
					<li class="nav-item">
						<%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
					</li>
					<% else %>
					<li class="nav-item">
						<%= link_to "Login", login_path, class: "nav-link" %>
					</li>
					<% end %>
				</ul>
			</div>
		</nav>
		<div class="collapse navbar-collapse" id="side-menu-mobile">
				<ul class="navbar-nav mr-auto text-center" >
					<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only"></span></a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="/albums">Album</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="/articles">Blog</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
					</li>
				</ul>
			</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 bg-light" id="side-menu">
					<ul class="nav nav-pills flex-column collapse navbar-collapse" >
						<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="/albums" class="nav-link">Album</a></li>
						<li class="nav-item"><a href="/articles" class="nav-link">Blog</a></li>
						<li class="nav-item"><a href="/about" class="nav-link">About</a></li>
					</ul>
				</div>
				<div class="col-md-9 pt-3 pl-3">
					<%= render_breadcrumbs :separator => ' / ' %>
					<%= yield %>
				</div>
			</div>
		</div>
		<footer class="mt-5">
		  <div class="container-fluid bg-primary py-3">
		    <div class="container">
		      <div class="row py-3">
		        <div class="col-md-9">
		          <p class="text-white">Lab1-1412073-1412067</p>
		        </div>
		        <div class="col-md-3">
		          <div class="d-inline-block">
		            <div class="bg-circle-outline d-inline-block">
		              <a href="https://www.facebook.com/" class="text-white"><i class="fa fa-2x fa-fw fa-facebook"></i>
				</a>
		            </div>

		            <div class="bg-circle-outline d-inline-block">
		              <a href="https://twitter.com/" class="text-white">
		                <i class="fa fa-2x fa-fw fa-twitter"></i></a>
		            </div>

		            <div class="bg-circle-outline d-inline-block">
		              <a href="https://www.linkedin.com/company/" class="text-white">
		                <i class="fa fa-2x fa-fw fa-linkedin"></i></a>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</footer>
		
	</body>
</html>
